PORT=5000

GIN_MODE=release

DATABASE_URL="host=localhost user=everstar password=everstar dbname=everstarlearning port=5431 sslmode=disable TimeZone=Asia/Shanghai"



FROM_EMAIL=devlopersabbir@gmail.com
FROM_PASSWORD=zwymkijeqcbboysh
FROM_EMAIL_SMTP=smtp.gmail.com
SMTP_ADDR=smtp.gmail.com:587